@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(45deg, #43cea2, #185a9d);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-title {
  color: #2c7873;
  text-align: center;
  margin-bottom: 20px;
}

.recipe-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.category-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  background: #83c5be;
  color: #006d77;
  padding: 10px 14px;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: bold;
}

.section-title {
  color: #2c7873;
  border-bottom: 3px solid #2c7873;
  padding-bottom: 5px;
  margin: 20px 0 10px;
}

ul, ol {
  padding-left: 25px;
  padding-vertical: 10px;
  margin-bottom: 10px;
}

li {
    padding: 3px;
}

.calories {
  text-align: center;
  background-color: #e0f3f1;
  font-weight: 400;
  color: #006d77;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

button {
  display: block; /* Certifique-se que o botão seja exibido como bloco */
  margin: 20px 0; /* Centraliza o botão */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #83c5be;
  color: #006d77;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #006d77;
  color: #ffffff;
}
